<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fzw.mapper.TextMapper" >
  <resultMap id="BaseResultMap" type="cn.fzw.weixin.vo.AutoMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
    <sql id="Base_Column_List" >
    id, content, message
  </sql>
   <select id="selectByContent" resultType="String">
   	select  message from automessage where content like  concat('%',#{Content},'%') limit 1
  </select>
  </mapper>